@font-face {
    font-family: inter;
    src: url(../fonts/inter-variable-latin.woff2);
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: "inter",sans-serif;
}

 header.logo_and_nav{     
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #111827;
    background-size: 100%;
    padding: 10px 0px;
    justify-content: space-around;
    text-transform: capitalize;
    height: 56px;
    box-shadow: 0 0px 50px rgba(0,0,0,0.08);
   
}
header.logo_and_nav *{
     color: white;
}

div.customize>i{
    padding: 0px 5px;
    align-self: center;
}
div.customize *{
    color: white;
}
div.customize{
    display: flex;
    position: fixed;
    top: 50%;
    right: -85px;
     transform: translateY(-50%);

     transform: rotate(-90deg);
      transform-origin: left top;
      padding: 10px 20px;
      background-color: #111827;
      border: 1px solid white;
      border-radius: 20px;
      justify-content: center;
      z-index: 10005;
      color: white;
        box-shadow: 0 0px 50px rgba(0,0,0,0.08);
       
}
ul.sidebar{

    flex-direction: row;
    flex-wrap: wrap;
   
    position: fixed;
    background-color: #111827;
    z-index: 10009;
    right: 0;
    height: 100%;
    width: 250px;
    
}
ul.sidebar li.ex>a>i{
    color: white;
}

ul.sidebar li.ex{
    width: 100%;
     height: 10%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
ul.sidebar li#c1>*{
    color: white;
}
ul.sidebar li#c1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    height: 30%;
}
/* ul.sidebar li#c2{
  
    padding: 50px;
    border-radius: 50%;
    background-color: #c92d2d;
}
ul.sidebar li#c3{
    
    padding: 50px;
    border-radius: 50%;
    background-color: #c92d2d;
}
ul.sidebar li#c4{

    padding: 50px;
    border-radius: 50%;
    background-color: #c92d2d;
} */

header.logo_and_nav div.logo{
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
header.logo_and_nav div.logo a{
    font-size: 24px;
    font-weight: 600;
}
header.logo_and_nav div.logo>a{
    display: flex;
    flex-direction: row;   
    align-items: center;
}
header.logo_and_nav div.logo>a>img{
    padding: 0px 7px;
}
header.logo_and_nav nav.pages{
    justify-content: space-around;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

 header.logo_and_nav nav.pages ul.mainpages{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 0;
    max-height: max-content;
}
header.logo_and_nav nav.pages ul.mainpages>li{
    padding: 10px 17px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
header.logo_and_nav nav.pages ul.mainpages>li>a{
    font-weight: 450;
}
header.logo_and_nav nav.pages ul.mainpages>li>a>i{
    font-size: 12px;
    
}
header.logo_and_nav nav.pages ul.mainpages>li.Home>ul>li{
    border: 2px;
    border-radius: 6px;
}
header.logo_and_nav nav.pages ul.mainpages>li.Home>ul>li:hover{
    background-color: #1D2735;
}
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu {
    visibility: hidden;
    position: absolute;
    left: 0px;
    border: 2px solid #111827;
    border-radius: 10px;
    padding: 10px;
    top: 100%;
    width: max-content;
    z-index: 10;
    background-color: #111827;
    transform: translateY(30px);
    opacity: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    align-content: center;
    transition: transform 0.3s, opacity 0.3s;
    
}
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li a p{
    display: flex;
    flex-direction: column;
    font-weight:100;
} 
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li a span{
    text-transform: capitalize;
    font-weight: 400;   
} 
 header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li {
    padding:10px 20px;
    position: relative;
    cursor: pointer;
    border-radius: 7px;
} 
 header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li a{
    display: flex;
    flex-direction: row;
    position: relative;
    
 }
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li a img {
  visibility: hidden;
  position: absolute;
  
  left: 100%;
  height: 363px;
}
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li a img.re {
    top: -22px;
}
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li a img.cars {top: -78px;}
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li a img.cont {top: -135px;}
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li a img.doc {top: -192px;}
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li a img.ev {top: -250px;}
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li a img.cg {top: -306px;}
 
header.logo_and_nav nav.pages ul.mainpages li.Home ul.homemenu li:hover a img {
        visibility: visible;
    }
header.logo_and_nav nav.pages ul.mainpages li.Home:hover ul.homemenu{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;

}
header.logo_and_nav nav.pages ul.mainpages>li:hover  {
    background-color: #1D2735;
}

header.logo_and_nav nav.pages ul.mainpages li.listings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px;
    border-radius: 10px;
    position: relative;
}
header.logo_and_nav nav.pages ul.mainpages li.listings ul.listingsmenu {
    visibility: hidden;
    position: absolute;
    left: 0px;
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    top: 100%;
    width: max-content;
    height: 570px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 10;
    background-color: #111827;
    line-height: 26px;
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.3s , opacity 0.3s ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
header.logo_and_nav nav.pages ul.mainpages li.listings ul.listingsmenu>li>ul>li>a:hover {
    text-decoration:underline;
}
header.logo_and_nav nav.pages ul.mainpages li.listings ul.listingsmenu>li>ul{
    padding-right: 20px;
}
header.logo_and_nav nav.pages ul.mainpages li.listings ul.listingsmenu>li>h4{
    font-weight: 600;
    font-size: 16px;
}
header.logo_and_nav nav.pages ul.mainpages li.listings ul.listingsmenu>li>ul>li>a{
    font-weight: 300;
    font-size: 14px;
}

header.logo_and_nav nav.pages ul.mainpages li.listings ul.listingsmenu>li{
    padding: 6px;
    line-height: 2;
}
header.logo_and_nav nav.pages ul.mainpages li.listings:hover ul.listingsmenu{
    visibility:visible;
    transform: translateY(0);
    opacity: 1;
}
 


header.logo_and_nav nav.pages ul.mainpages li.Account ul.homemenu {
    visibility: hidden;
    position: absolute;
    left: 0px;
    border: 2px solid #111827;
    border-radius: 10px;
    padding: 10px;
    top: 100%;
    width: max-content;
    z-index: 10;
    background-color: #111827;
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.3s , opacity 0.3s ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
header.logo_and_nav nav.pages ul.mainpages li.Account ul.homemenu li a{
    display: flex;
    flex-direction: row;
    font-weight:250;
    justify-content: space-between;
}
header.logo_and_nav nav.pages ul.mainpages li.Account ul.homemenu li {
    padding:10px 20px;
    cursor: pointer;
    border-radius: 7px;
}
header.logo_and_nav nav.pages ul.mainpages li.Account:hover ul.homemenu{
    visibility:visible;
    transform: translateY(0);
    opacity: 1;
  
}
header.logo_and_nav nav.pages ul.mainpages>li.Account>ul>li:hover{
    background-color: #1D2735;
}



header.logo_and_nav nav.pages ul.mainpages li.Account ul.homemenu li.auth div a{
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    justify-content: space-between;
    font-weight: 300;
}


header.logo_and_nav nav.pages ul.mainpages li.Account ul.homemenu li.auth{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    
}
header.logo_and_nav nav.pages ul.mainpages li.Account ul.homemenu li.auth ul{
    visibility: hidden;
    position: absolute;
    top: 0px;
    border: 2px solid #111827;
    border-radius: 10px;
    padding: 10px;
    left:95%;
    width: max-content;
    z-index: 10;
    background-color: #111827;
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.3s , opacity 0.3s ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    
}
header.logo_and_nav nav.pages ul.mainpages li.Account ul.homemenu li.auth:hover ul{
    visibility:visible;
    
    transform: translateY(0);
    opacity: 1;

}
header.logo_and_nav nav.pages ul.mainpages>li.Account>ul.homemenu li.auth ul>li:hover{
    background-color: #1D2735;
}









header.logo_and_nav nav.pages ul.mainpages li.pagess ul.homemenu {
    visibility: hidden;
    position: absolute;
    left: 0px;
    border: 2px solid #111827;
    border-radius: 10px;
    padding: 10px;
    top: 100%;
    width: max-content;
    z-index: 10;
    background-color:#111827;
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.3s , opacity 0.3s ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
header.logo_and_nav nav.pages ul.mainpages li.pagess ul.homemenu li.about a{
    display: flex;
    flex-direction: row;
    font-weight:250;
    justify-content: space-between;
}
header.logo_and_nav nav.pages ul.mainpages li.pagess ul.homemenu li.about {
    padding:10px 20px;
    cursor: pointer;
    border-radius: 7px;
    
}
header.logo_and_nav nav.pages ul.mainpages li.pagess ul.homemenu li.terms {
    padding:10px 20px;
    margin-right:10px ;
    cursor: pointer;
    border-radius: 7px;
}
header.logo_and_nav nav.pages ul.mainpages li.pagess:hover ul.homemenu{
    visibility:visible;
    transform: translateY(0);
    opacity: 1;
  
}
header.logo_and_nav nav.pages ul.mainpages>li.pagess>ul.homemenu>li.about:hover{
    background-color: #1D2735;
}
header.logo_and_nav nav.pages ul.mainpages>li.pagess>ul.homemenu>li.terms:hover{
    background-color: #1D2735;
}



header.logo_and_nav nav.pages ul.mainpages li.pages ul.homemenu li.about div a{
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    justify-content: space-between;
    
}
header.logo_and_nav nav.pages ul.mainpages li.pagess ul.homemenu li.about{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
header.logo_and_nav nav.pages ul.mainpages li.pagess ul.homemenu li.about ul{
    visibility: hidden;
    position: absolute;
    top: 0px;
    border: 2px solid #111827;
    border-radius: 10px;
    padding: 10px;
    left:95%;
    width: max-content;
    z-index: 10;
    background-color: #111827;
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.3s , opacity 0.3s ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    
}
header.logo_and_nav nav.pages ul.mainpages li.pagess ul.homemenu li.about:hover ul{
    visibility:visible;
    transform: translateY(0);
    opacity: 1;

}
header.logo_and_nav nav.pages ul.mainpages li.pagess ul.homemenu li.about:hover ul li{
    padding:10px 20px;
    cursor: pointer;
    border-radius: 7px;

}
header.logo_and_nav nav.pages ul.mainpages>li.pagess>ul.homemenu li.about ul>li:hover{
    background-color: #1D2735;
}
header.logo_and_nav div.icons i ul li{
    padding: 10px;
    font-weight: 100;
}
header.logo_and_nav div.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;

}
header.logo_and_nav div.icons{
display: flex;
justify-content: end;

}
header.logo_and_nav div.icons a.sun{
padding: 0px 20px;

}
/*  





















*/

header.logo_and_nav div.icons ul.modes li a i.fa-moon{
    padding-right: 10px;
}
header.logo_and_nav div.icons ul.modes li a i{
    padding-right: 5px;
}
header.logo_and_nav div.icons ul.modes li a i.fa-sun{
    padding-right: 3px;
}
header.logo_and_nav div.icons ul.modes>li{
    padding: 10px 25px;
    background-color: #333D4C;
    transition: background-color 0.5s ease;
    display: flex;
    border-radius: 10px;

}
header.logo_and_nav div.icons ul.modes>li:hover{
    background-color: #1D2735;
}
header.logo_and_nav div.icons ul.modes{
    display: flex;
    position: absolute;
    flex-direction: column;
    border: 2px solid #111827;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
    background-color: #111827;
    transform: translateY(20px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    gap: 5px;
}
header.logo_and_nav div.icons a.user{
    padding: 10px;
    padding-right: 20px;
    margin-right: 0px;

}

 header.logo_and_nav div.icons a.small{ 
    display: none;
 }
 header.logo_and_nav div.icons a.join{ 
    background-color: #D85151;
    transition: filter 0.5s;
    padding: 10px 15px;
    color: white;
    border: 2px;
    border-radius: 10px;
    filter: brightness(1);
}
header.logo_and_nav div.icons a.join:hover{
    filter: brightness(0.85);
  
}    
 

.section2,.section3,.section4,.section6,.section8,.section9{
    max-width: 1328px;
}
footer>*{
    max-width: 1328px;
}

main{
    background-color: #111827;
}

main section.section1 {
    background-image: url(../imgs/header\ full\ hero.png);
    background-size:142.5%;
    background-repeat: no-repeat;
    background-size: 2160px;
    background-position: center center;
    padding: 170px 0px;
    background-color: #3D7A81;
    align-content: center;
}
main section.section1 div.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
main section.section1 div.form form input.search1 {
    background-image: url(../svgs/magnifying-glass-solid-full.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5px center;
    width: max-content;
}
main section.section1 div.form form input.search2 {
    background-image: url(../svgs/location-dot-solid-full.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 20px center;
    width: max-content;
    border-left: 1px solid rgba(0,0,0,0.1);
}
main section.section1 div.form header{
    max-width: 50%;
}
main section.section1 div.form header h1{
    font-size: 56px;
    letter-spacing: 1.5px;
    transform: scaleX(0.96);
    color: white;
    
    text-align: center;
    padding-bottom: 50px;
    font-weight: 700;
    
}
main .section1 .form form{
    padding: 13px;
    background-color: white;
    border: 3px;
    border-radius: 10px;
    
    display: flex;
    flex-wrap: wrap;
}
main .section1 .form form input::placeholder{
    height: 47px;
    font-size: 16px;
    color: rgba(78, 85, 98,0.5);
}

main .section1 .form form input{
    height: 47px;
}
main .section1 .form form input.search1{
    flex: 5; 
    padding-left: 35px;
    z-index: 44;
}
main .section1 .form form input:focus{
    outline: none;
}
main .section1 .form form input.button{
    width: 15%;
    color: white;
    background-color: #D85151;
    transition: filter 0.3s ease;
    cursor: pointer;
    border: 2px;
    border-radius: 8px;
    filter: brightness(1);
}
main .section1 .form form input.button[value]{
    font-size: 16px;
    font-weight: 500;
}
main .section1 .form form input.button:hover{
    background-color: #c92d2d;
    filter: brightness(0.85);
    
}
main .section1 .form form input.search2 {
    flex: 2;
    min-width: 0; 
    padding-left: 50px;
} 


main .section1 div.form ul li a{

    display: flex;
    justify-content: center;

    max-width:110px;
    min-width: 100px;
    padding: 0px;
}
main .section1 div.form ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 11px;
    padding-top: 50px;
    justify-content: center;
    width: 50%;
}


main .section1 ul li a p{
    padding: 10px;
    display: flex;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    transition: background-color 0.5s , color 0.5s;
    text-transform: capitalize;
    font-size: 15px;
    justify-content: center;
}
main .section1 ul li a:hover p{
    background-color: white;
    color: black;

}







.section2 *{
    color: white;
}

.section2{

    display: flex;
    flex-direction: column;
    background-color:#111827;
     
    
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px clamp(30px, 5vw, 30px) 0px clamp(10px, 10vw, 50px); 

    
}

.section2 header{
    padding: 100px 10px 15px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content: space-between;
   

    align-items: center;

    
}
.section2 header h1{
    font-size: 32px;
    font-weight: 600;
}
section.section2 header a{
    color: white;
}
section.section2 header a:hover{
    text-decoration: underline;
}
.section2 div.elements{
    display: flex;
    padding: 10px;

    flex-wrap: wrap;

}
section.section2 div.elements{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
section.section2 div.elements a{
    display: flex;
    padding: 15px 0px;
    width: 25%;
}
section.section2 div.elements a:hover p{
    text-decoration: underline;
}
section.section2 div.elements a:hover>i{
    transform: scale(1.2);
}
section.section2 div.elements a>i{
    padding: 20px ;
    background-color: #333D4C;
    border-radius: 50%;
    transition: transform 0.4s ease;
    
}
section.section2 div.elements a p{
    padding: 10px ;
    align-content: center;
  
}

.section3 *{
    color: white;

}
.section3{

    display: flex;
    flex-direction: row;
    background-color: #111827;
    box-sizing: border-box;
    padding-top: 100px;
    justify-content: space-around;
    width: 100%;
    
    margin: 0 auto;
    padding: 100px clamp(30px, 5vw, 100px) 0px clamp(0px, 5vw, 20px); 

    
}
.section3 div.local{
    flex: 0.7;
    min-width: 0;
    position: relative;
    border-right: 100px;
    box-sizing: border-box;
    border: 2px;
    border-radius: 20px;
    cursor: pointer;
    padding-right: 100px;
}
.section3 div.local header{ 
    display: flex;
    flex-direction: column;
    background-color: #1D2735;
    height: 430px;
    width: 315px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    padding-top: 40px;
    border: 2px;
    border-radius: 20px;


}   
.section3 div.local div.home{
    position: absolute;
    border: 2px;
    z-index: 20;
    transform: translate(60px,-270px);

}
.section3 div.local div.circle{
    position: absolute;
    padding: 100px;
    border: 2px;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #343D4A;
    z-index: 20;
    transform: translate(30px,-300px);
    clip-path: inset(0px 214.7px 199.7px 0px); 
}
.section3 div.local div.home img{
    width: 340px;
}
.section3 div.local>header>h2{
    margin: 0 auto;
    width: 200px;
   
} 
.section3 div.local>header>p{
    margin: 0 auto;
    width: 200px;
   
} 
.section3 div.local header h2{
    padding-top: 20px;
}
.section3 div.local header p{
     font-size: 15px;
     font-weight: 200;
}
.section3 div.local header h2{
     font-size: 28px;
     padding: 10px 0px;
     font-weight: 600;
}




.section3 div.near{
    flex:2;

    position: relative;

    margin-left: clamp(10px, 5vw, 100px);


}
.section3 div.near header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    
}


.section3 div.near header{
     padding: 30px 0px 20px;
}
.section3 div.near header a i{
    padding-left: 10px;
}
.section3 div.near header a:hover{
    text-decoration: underline;

}
.section3 div.near header h1{
    font-size: 30px;
    font-weight: 600;
   
}
.section3 div.near div.elements{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
}
.section3 div.near div.elements>a{
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    width: 50%;
    

}
.section3 div.near div.elements>a:hover div.photo{
    overflow: hidden;
    border-radius: 10px;
    max-width: 160px;
    max-height: 110px;
}
.section3 div.near div.elements>a:hover div.text h3{
    text-decoration: underline;
}
.section3 div.near div.elements>a>div.photo1{
    background-image: url(../imgs/nearyou01.jpg);  
}
.section3 div.near div.elements>a>div.photo2{
    background-image: url(../imgs/nearyou02.jpg);  
}
.section3 div.near div.elements>a>div.photo3{
    background-image: url(../imgs/nearyou03.jpg);  
}
.section3 div.near div.elements>a>div.photo4{
    background-image: url(../imgs/nearyou04.jpg);  
}
.section3 div.near div.elements>a>div.photo5{
    background-image: url(../imgs/nearyou05.jpg);  
}
.section3 div.near div.elements>a>div.photo6{
    background-image: url(../imgs/nearyou06.jpg);  
}

.section3 div.near div.elements>a>div.ph{
    background-repeat: no-repeat;
    padding: 0px;
    width: 110px;
    height: 80px;
    position: relative;
    border-radius: 10px;
    transition: background-size 0.5s ease;
    background-position: center;
    background-size:110px;
    
} 
.section3 div.near div.elements>a:hover div.ph{
    background-size: 120px;

}
.section3 div.near div.elements>a>div.ph{
    margin-right: 20px;
}
.section3 div.near div.elements>a>div.text{
    line-height: 1.5;
    padding: 7px 0px;

}
.section3 div.near div.elements>a>div.text h3,p,h4{
    font-size: 15px;
    font-weight: 300;

}
.section3 div.near div.elements>a>div.text h3{
    font-weight: 600;
}
.section3 div.near div.elements>a>div.text>p>i{
    color: #FC9231;
}
.section3 div.near div.elements>a>div.text>p>span{
    font-size: 12px;
    font-weight: 200;
}












.section4 *{
    color: white;

}
.section4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    align-content: center;
    background-color: #111827;
    margin: 0 auto;
    padding: 0px clamp(30px, 5vw, 30px) 0px clamp(10px, 10vw, 50px); 

}
.section4 header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px 50px;
} 
.section4 header h1{
    font-size: 32px;
    font-weight: 600;
}
.section4 header a:hover{
    text-decoration: underline;
}
.section4 div.elements{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.section4 div.elements a{
    
    height: max-content;
    border: 1px solid #2d374b;
    border-radius: 10px;
    flex: 1;
}

.section4 div.elements>a>div.text{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: #111827;
}
.section4 div.elements>a>div.text>p{
   
    flex: 1;
}
.section4 div.elements>a>div.text>p>i{
    color: #fc9231;
}
.section4 div.elements>a>div.text>h4{
    flex: 2;
}
.section4 div.elements>a>div.text>h3{
    left: 50%;
    font-weight: 400;
    font-size: 15px;
    flex: 1;
    padding: 10px 15px;
    border: 1px solid white;
    min-width: 0px;
    border-radius: 10px;
    display: flex;
    background-color: #111827;
    color: white;
    justify-content: center;
    transition: background-color 0.5s ease , color 0.5s ease;
    z-index: 5;
}
.section4 div.elements>a>div.text>h3:hover{
    background-color: white;
    color: #111827;
}

.section4 div.elements a{
    overflow: hidden;
    border-radius: 10px;
    min-width: 32%;
    overflow: hidden;
    width: 33%;
    
}







/* 
    perfect enlargement for a background photo
*/







.section4 div.elements a div.photo1{
    background-image: url( ../imgs/popularprojects01.jpg);
    background-repeat: no-repeat;
     background-size: 100%;
  
    position: relative;
    border-radius: 10px;
    transition: background-size 0.5s ease;
    background-position: center center;

    min-width: 135px;
    min-height: 150px;
    aspect-ratio: 43 / 29; 
   
}

.section4 div.elements a div.photo2{
    background-image: url( ../imgs/popularprojects02.jpg);

       background-repeat: no-repeat;
     background-size: 100%;
  
    position: relative;
    border-radius: 10px;
    transition: background-size 0.5s ease;
    background-position: center center;

    min-width: 135px;
    min-height: 150px;
    aspect-ratio: 43 / 29; 
}
.section4 div.elements a div.photo3{
   
    background-image: url( ../imgs/popularprojects03.jpg);
        background-repeat: no-repeat;
     background-size: 100%;
  
    position: relative;
    border-radius: 10px;
    transition: background-size 0.5s ease;
    background-position: center center;

    min-width: 135px;
    min-height: 150px;
    aspect-ratio: 43 / 29; 
}
.section4 div.elements a>div>.filter{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50%;
    bottom: 0%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);;
    
    border-radius: 10px;
}
.section4 div.elements a>div>.content{
    position: relative;
    width: 100%;
    height: 100%;
}
.section4 div.elements a>div>.content i{
    position:absolute;
    display: flex;
    right: 0%;
    left: 88%;
    top: 5%;
    width: max-content;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: black;
    
}
.section4 div.elements a:hover>div{
    background-size: 120%;

}





/* perfect enlargment for a background photo end */





.section4 div.elements a:hover>div>.content i{
    visibility: visible;
    opacity: 1;

}
.section4 div.elements a>div>.content p{
    position: absolute;
    top: 85%;
    left: 3%;
    color: white;
    font-size: 21px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    z-index: 4;

}


.section5 *{
    color: white;
}

.section5{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #111827;
    background-size: 100%;
    align-content: center;
    box-sizing: border-box;
    justify-content: space-around;
    margin-top: 100px;
    padding: 0px clamp(30px, 5vw, 30px) 0px clamp(10px, 10vw, 50px); 

}
.section5 header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px 100px;
} 
.section5 header h1{
    font-size: 32px;
    font-weight: 600;
}
.section5 div.elements{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-bottom: 20px;
    justify-content: space-around;
    
}
.section5 div.elements a{
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    overflow: hidden;
    height: max-content;  
}
.section5 header a:hover{
    text-decoration: underline;
}
.section5 div.elements a div.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    padding: 0px 20px;
    position: relative;
    line-height: 30px;
    height: 100px;
}
.section5 div.elements a div.text h2{

    font-size: 12px;
    font-weight: 500;
    padding: 2px 7px;
    border-radius: 7px;
    background-color: #333D4C;
    width:max-content;
}
.section5 div.elements a div.text h4{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.7px;
}
.section5 div.elements a div.text p{
   width: auto;
    font-size: 16px;
    font-weight: 300;
}
.section5 div.elements a div.photo1{
    background-image: url(../imgs/advice01.jpg);

}
.section5 div.elements a div.photo2{
    background-image: url(../imgs/advice02.jpg);

}
.section5 div.elements a div.photo3{
    background-image: url(../imgs/advice03.jpg);

}
.section5 div.elements a div.photo4{
    background-image: url(../imgs/advice04.jpg);

}
.section5 div.elements a div.ph{
    background-repeat: no-repeat;
    padding: 0px;
    width: 100px;
    height: 150px;
    position: relative;
    border-radius: 10px;
    transition: background-size 0.5s ease;
    min-width: 135px;
    min-height: 150px;
    background-position: center;
    background-size:135px;
}
.section5 div.elements a:hover>div.ph{
    background-size: 150px;

}
.section5 div.elements a:hover>div.text>h4{
    text-decoration: underline;

}

.section6 *{
    color: white;
}
.section6{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    line-height: 40px;

    justify-content: space-around;
    box-sizing: border-box;
    align-content: center;
    padding: 100px clamp(30px, 5vw, 30px) 100px clamp(10px, 10vw, 50px); 

    
}
.section6 header{
    display: flex;
    flex-direction: column;
}
.section6 header h1{
    font-size: 30px;
    font-weight: 600;
}
.section6 h3{
    font-size: 22px;
    font-weight: 500;
}
.section6 i{
    font-size: 40px;
    padding: 25px 0px;
}
.section6 h6{
    font-size: 18px;
    font-weight: 300;
}

.section6 div.elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.section6 div.elements div{
    width: 30%;
    /* padding-right: 30px; */

}






@keyframes slide-return {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(10px); }
  100% { transform: translateX(0); }
}


.section7{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 550px;
    position: relative;
    justify-content: center;
    margin-bottom: 100px;  
}


.section7>div.left{
    width: 50%;
    background-color: #3D7A81;
    align-items: flex-start;        
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: clamp(20px, 5vw, 100px);
    
}
.section7>div.left>div.buttons{
    display: flex;
    flex-direction: row;
}
.section7>div.left>div.buttons>a{
    margin-right: 30px;
    padding: 15px 20px;
    border-radius: 10px;
}

.section7>div.left>div.buttons>a>h4,h5>i,h5>span{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.section7>div.left>div.buttons>a.b1{
    background-color: #D85151;
    transition: filter 0.5s ease;
    filter: brightness(1);
}
.section7>div.left>div.buttons>a.b1:hover{
    background-color:#c92d2d;
    filter: brightness(0.85);

}

.section7>div.left>div.buttons>a.b2{
    border: 2px solid white;
    transition: background-color 0.5s ease ,color 0.5s ease;
}
.section7>div.left>div.buttons>a.b2:hover{
    background-color:white;
}
.section7>div.left>div.buttons>a.b2:hover h5>span{
    color: black;
}
.section7>div.left>div.buttons>a.b2:hover h5>i{
    color: black;
    
  animation: slide-return 0.6s ease-in-out forwards;

}

.section7 >div.left>header>h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
    max-width: 400px;


}
.section7 >div.left>header{
    padding-bottom: 50px;

}


.section7 > div.right{
    width: 50%;
    background-image: url(../imgs/become-pro-cta.jpg);
    background-size:cover;
    z-index: 5;
    left: 100%;
    background-position: center;
}


.section7 div.center{
  animation: rotate 20s linear infinite;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  z-index: 20;
  
}
.section7 div.center div.circle img{
    width: 200px;
}












.section8 *{
    color: white;
}
.section8{
   
    display: flex;
    position: relative;
    flex-direction: row;
    height: 300px;
    background-color: #251E2B;
    margin: 0px auto;
}
.section8>div{
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    line-height: 2;
}
.section8>div.icons{
   
    display: flex;
    align-items: center;
    align-content: center;
    height: auto;
}
.section8 div.img{
    background-image: url(../imgs/app.png);
    background-repeat: no-repeat;
    padding-right: 50px;
    background-size: 100% 100%;
    right: 0%;
    height: auto;
}
.section8 div.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section8 h3{
    color: white;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
}
.section8 h1{
    font-size: 38px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}
.section8 h6{
    font-size: 15px;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
}
.section8 div.logos{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    max-height: 50px;
    align-items: center;
    align-content: center;
}
.section8 div.logos a{
    display: flex;
    flex-direction: row;
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #333D4C;
    color: white;
    margin-right: 15px ;
    justify-content: center;
    transition: background-color 0.5s ease;
    align-items: center;
    
}
.section8 div.logos a:hover{

background-color: #4E5562;
}

.section8 div.logos a i{
    display: flex;
    color: white;
    padding-right: 10px;
    
    
    
}






.section9 *{
    color: white;
}
.section9{
    display: flex;
    flex-direction: column;
   
    margin: 0 auto;
    align-content: center;

    background-size: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    
    padding: 0px clamp(30px, 5vw, 30px) 0 clamp(10px, 10vw, 50px); 

}
.section9 header {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 50px;
} 
.section9 header h1{
    font-size: 32px;
    font-weight: 600;
}
.section9 div.elements{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    row-gap: 20px;
}
.section9 div.elements a{
    max-width: 50%;
    width: 48%;
    height: max-content;
    border-radius: 10px;
    border: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.section9 header a:hover{
    text-decoration: underline;
}

.section9 div.elements a div.photo1{
    background-image: url(../imgs/pricing01.jpg);

}
.section9 div.elements a div.photo2{
    background-image: url(../imgs/pricing02.jpg);

}
.section9 div.elements a div.photo3{
    background-image: url(../imgs/pricing03.jpg);

}
.section9 div.elements a div.photo4{
    background-image: url(../imgs/pricing04.jpg);

}
.section9 div.elements a div.ph{
    background-repeat: no-repeat;
    padding: 0px;
    width: 220px;
    height: 180px;
    position: relative;
    border-radius: 10px;
    transition: background-size 0.5s ease;
    background-position: center;
    
    min-width: 135px;
    min-height: 150px;
    width: 150px;
    height: 180px;
    background-size:200px;
}
.section9 div.elements a:hover>div{
    background-size: 220px;

}
.section9 div.elements a:hover>div.text>h4{
    text-decoration: underline;

}
.section9 div.elements>a:hover div.text h5{
    text-decoration: underline;
}
.section9 div.elements>a>div{
    margin-right: 20px;
}
.section9 div.elements>a>div.text{
    line-height: 2;
    padding: 7px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.section9 div.elements>a>div.text>div.letters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 8px;
}
.section9 div.elements>a>div.text h5,div.letters,div.letters>h4{
    font-size: 15px;
    font-weight: 300;

}
.section9 div.elements>a>div.text h5{
    font-weight: 600;
}
.section9 div.elements>a>div.text>div.letters>i{
    color: #FC9231;
}
.section9 div.elements>a>div.text>div.letters>span{
    font-size: 12px;
    font-weight: 200;
}

.section9 div.elements>a>div.text>h3{
    font-weight: 400;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: 20px;
    margin-right: auto;
    padding: 7px 20px;
    border: 1px solid white;
    min-width: 0px;
    border-radius: 10px;
    display: flex;
    background-color: #111827;
    color: white;
    
    transition: background-color 0.5s ease , color 0.5s ease;
    z-index: 5;
}
.section9 div.elements>a>div.text>h3:hover{
    background-color: white;
    color: black;
}
footer{
    width: 100%;
    clear: both;
    margin-top: auto;
    background-color: #111827;
    color: white;
    display: flex;
    flex-direction: column;
}
footer *{
    color: white;
}
footer>div{
    width: 87%;
display: flex;
flex-direction: row;

margin: 0 auto;
}
footer div.subs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0px;
    border-bottom: 1px solid #222A3A;
}
footer div.subs div.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-items: center;
}
footer div.subs div.icon h4{
    padding: 0px 10px; 
    font-size: 22px;
    font-weight: 600;
}
footer div.subs div.icon i {
    font-size: 22px;
    font-weight: 300;
}
footer div.subs div.icon h3{
    padding: 10px 25px;
    background-color: #D85151;
    transition: filter 0.5s ease;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 10px;
    filter: brightness(1);
}
footer div.subs div.icon h3:hover{
    background-color: #c92d2d;
    filter: brightness(0.85);
}
footer div.subs div.help{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px auto;
}
footer div.subs div.help h6{
    padding-right: 20px;
    font-size: 20px;
    font-weight: 100;
}
footer div.subs div.help a h3{
    padding-right: 20px;
    font-size: 18px;
    font-weight: 600;
}
footer div.subs div.help a:hover h3{
    text-decoration: underline;
}
footer div.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 0px 0px;

}
footer div.nav div.logo{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer div.nav div.logo h6{
    width: 50%;
    font-size: 15px;
    font-weight: 300;
}
footer div.nav div.logo>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
}
footer div.nav div.logo>a>img{
    width: 60px;
    
    
}
footer div.nav div.logo>div{
    display: flex;
    flex-direction: row;
    align-items: center;

}
footer div.nav div.logo>div>a{  
    padding: 7px 10px;
    background-color: #333D4C;
    border-radius: 50%;
    margin-right: 20px;
    transition: background-color 0.5s ease;
}
footer div.nav div.logo>div>a:hover{  
    background-color: #4E5562;
}
footer div.nav div.categs{
    flex: 3;
}
footer div.nav div.compans{
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}
footer div.nav div.categs h2{
        font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
}

footer div.nav div.categs>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
footer div.nav div.categs>div>a{
    width: 50%;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 300;

}
footer div.nav div.categs>div>a:hover{
    text-decoration: underline;

}
footer div.nav div.compans h2{
        font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
}

footer div.nav div.compans>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
footer div.nav div.compans>div>a{
    width: 100%;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 300;

}
footer div.nav div.compans>div>a:hover{
    text-decoration: underline;

}



footer div.media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0px;
}
footer div.hide{
    display: none;
}
footer div.media div.payments{
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}
footer div.media div.rights{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
footer div.media div.hide{
    display: none;
}

footer div.media div.rights h3{
    font-size: 12px;
    font-weight: 300;
}
footer div.media div.rights h2{
    font-size: 15px;
    font-weight: 350;


}
footer div.media div.rights h2:hover{
    text-decoration: underline;
}

footer div.cities{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding: 40px 0px 20px;
}
footer div.cities>h2{
    font-size: 20px;
    font-weight: 600;
}
footer div.cities>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
footer div.cities>div>a{
    padding: 10px 18px;
    border: 1px solid #333D4C;
    transition: border 0.5s ease;
    border-radius: 30px;
}
footer div.cities>div>a:hover{
    
    border: 1px solid #6C727F;
}

footer div.cities>div>a>h3{
    font-size: 14px;
    font-weight: 500;
}







.menu-icon {
    visibility: hidden;
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-left: 30px;
  opacity: 0;
pointer-events: none;
position: absolute;
z-index: 10001;
top: 10px;
left: 20px;
padding: 10px;
transition: background-color 0.5s ease;
border-radius: 7px;

}


@media screen and (max-width: 1200px) {

     header.logo_and_nav div.icons a.big{
       display: none;
    }
    header.logo_and_nav div.icons a.small{
        display: inline;
        margin-right: 30px;
        padding: 10px 20px;
        max-width: 100px;

    }

       
    .section3 div.local div.home{
        transform: translate(-20px,-270px);

    }
    .section3 div.local div.circle{
        transform: translate(-50px,-300px);
        clip-path: inset(0px 135px 199.7px 50.5px); 
    }
    .section3 div.local div.home img{
        width: 340px;
    }
    .section4 div.elements a>div.photo>div.content p{
        font-size: 13px;
    }
}
@media screen and (max-width: 991px) {
    header div.logo{
        padding-left: 50px;
    }
   

    header div.icons{
        margin-right: 0px;
        padding-right: 0px;
    }
    .menu-icon {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        color: #111827;
    }
    header div.logo,div.icons{
        flex: 1;
        text-align: right;
    }
    header div.icons i{
        margin-left: auto;
        
    }
    header div.logo>a{
        margin-left: auto;
        padding-right: 20px;
    }

    header.logo_and_nav nav.pages {
        position: fixed;
        height: 100%;
       
        background-color: #444;
        align-items:flex-start;
        left: 0%;
        top: 0px;
    }
    header nav.pages>ul.mainpages>li.listings>ul.listingsmenu {
        max-height: 400px;

    }
    header.logo_and_nav nav.pages ul.mainpages li.listings ul.listingsmenu>li>ul{
    padding-right: 0px;
}
header.logo_and_nav nav.pages ul.mainpages li.listings ul.listingsmenu>li>h4{
    font-weight: 500;
    font-size: 13px;
}
header.logo_and_nav nav.pages ul.mainpages li.listings ul.listingsmenu>li>ul>li>a{
    font-weight: 300;
    font-size: 10px;
}

header.logo_and_nav nav.pages ul.mainpages li.listings ul.listingsmenu>li{
    padding: 3px;
    line-height: 1.2;
}
    header.logo_and_nav nav.pages>ul.mainpages {
        display: flex;
        flex-direction: column;
        width: 300px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;

    }

    div.menu-icon:hover~nav.pages {
        
        pointer-events: auto;
        background-color: #333D4C;
    }
    header.logo_and_nav nav.pages:hover {
        
        pointer-events: auto;
    }
        header.logo_and_nav nav.pages > ul.mainpages > li{
            padding-left: 50px;
            padding-right: 50px;
        }
    header.logo_and_nav nav.pages > ul.mainpages > li>a{
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header nav.pages > ul.mainpages > li>ul{
        display: flex;
        flex-direction: column;
        position: static;
        z-index: 0;
    }
    
    main section.section1{
        padding: 70px 0px;
    }
   main section.section1 div.form header{
    max-width: 80%;
}
    main section.section2 header {
        padding-top: 70px;
    }
    main section.section2 {
        padding: 0px clamp(30px, 5vw, 30px) 0px clamp(10px, 10vw, 50px); 
    }
    section.section2 div.elements{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }section.section2 div.elements a{
        display: flex;
        width: 33.333%;
        padding: 10px 0px;
        
    }

    main .section3{
        padding-top: 30px;
    }
    .section3>div.local{
        display: none;
    }
    .section3>div.near{
        
    }
    main .section5 header{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section5 div.elements{
        display: flex;
        flex-direction: column;

    }
    .section5 div.elements a{
        width: 100%;
        padding-bottom: 40px;

    }
    main .section6 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    main .section7{
        height: 430px;
        margin-bottom: 60px;
    }
    .section7>div.left>div.buttons{
        flex-direction: column;
        gap: 20px;
    }
    .section7>div.left>div.buttons>a{
    padding: 15px 70px;
    }
    main .section8{
        height: 250px;
    }
    main .section9 header{
        padding-top: 70px;
        padding-bottom: 30px;

    }
    main .section9 div.elements{

        padding-bottom: 60px;

    }


}
@media screen and (max-width: 767px) {
   header.logo_and_nav{
    height: 36px;
   }

main section.section1 div.form header h1{
    font-size: 32px;

}
   main .section1 div.form form{
    width: 90%;
   }
   main .section1 div.form form input.button{
    width: 100%;
    margin-top: 20px;
   }
   main .section1 div.form form input.search2{
    flex: 1;
    
   }
   main .section1 div.form form input.search1{
    flex: 3;
   }
   main .section1 div.form form{

        justify-content: space-between;
        column-gap: 100px;
   }
.section2>header>h1{
    font-size: 20px;
}
.section2>header>a{
    font-size: 15px;
}
.section3>div.near>header>h1{
    font-size: 20px;
}
.section3>div.near>header>a{
    font-size: 15px;
}
.section4>header>h1{
    font-size: 20px;
}
.section4>header>a{
    font-size: 15px;

}
    .section4 div.elements a>div.photo>div.content p{
        font-size: 21px;
    }
.section5>header>h1{
    font-size: 20px;
}
.section5>header>a{
    font-size: 15px;
}

   section.section2 div.elements{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }section.section2 div.elements a{
        display: flex;
        width: 50%;
        padding: 10px 0px;
        
    }
    main.section7{
        margin-bottom: 20px;
        max-height: 300px;
        
    }
    main .section7 div.right{
        display: none;
        
    }
    main .section7 div.left{
        width: 100%;
        padding-left: 0px;
        padding: 10px 0px;
    }
    main .section7 div.left div.buttons{
        
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px auto;
    }
    main .section7 div.left header{
        margin: 0px auto;
    }
        main .section7 div.left div.buttons>a{
            margin-right: 10px;
            padding: 15px 30px;
            border-radius: 10px;
        }
    main .section7 div.center{
        display: none;
    }
    main .section8 {
        flex-direction: column;
        height: 400px;
    }
    main .section8>div.icons{
        width: 100%;
    }
    main .section8>div.img{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        padding-right: 0px;
        width: 400px;
        max-width: 95%;
    }
    .section9 div.elements{
        flex-direction: column;
    }
    .section9 div.elements>a{
        max-width: 100%;
        width: 100%;
    }
    .section9 div.elements>a>div.ph{
        width: 200px;
        height: 160px;
        
    }
    main .section9>header{
        padding: 50px 0px 20px;
    }
    footer div.subs{
        flex-direction: column;
        gap: 30px;
    }
    footer div.nav>div.logo{
        width: 100%;
        margin-bottom: 20px;
    }
    footer div.nav>div.categs{
        flex: 2;
    }
    footer div.nav>div.compans{
        flex: 1;
    }
    footer div.media{
        flex-direction: column;
    }
    footer div.media div.payments{
        margin: 0px auto;
        padding-bottom: 25px;
    }
    footer div.media div.hide{
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        
    }
    footer div.media div.apparent{
        display:none;

    }



     .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: white;
      display: flex;
      
    }
    
main section.section4{
    min-width: 85%;
    max-width: 85%;
    width: 85%;
}
.section4 div.elements a{
    min-width: 100%;

    
}
.section4 div.elements a div.photo1{
    width: 100%;
    background-size: 100%;
}
.section4 div.elements a div.photo1:hover{
    background-size: 110%;
}
.section4 div.elements a div.photo2{
    width: 100%;   
    background-size: 100%;
}
.section4 div.elements a div.photo2:hover{
    background-size: 110%;
}
.section4 div.elements a div.photo3{
    width: 100%;
    background-size: 100%;
}
.section4 div.elements a div.photo3:hover{
    background-size: 110%;
}


.section6 header h1{
    font-size: 24px;
    font-weight: 600;
}
.section6 h3{
    font-size: 18px;
    font-weight: 500;
}
.section6 i{
    font-size: 30px;
    padding: 25px 0px;
}
.section6 h6{
    font-size: 15px;
    font-weight: 300;
}




    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

}
@media screen and (max-width: 500px) {
    main .section1 div.form form{
        flex-direction: column;
        width: 90%;
    }
    .section1 div.form form input.search1{
        margin-left: 15px;
    }
    main section.section1 div.form form input.search2{
        min-height: 50px;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-left: 0px;
    }
    .section1 div.form form input[type=search]{
        min-height: 50px;
        min-width: 95%;
        
        
    }
    section.section2 div.elements{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    section.section2 div.elements a{
        display: flex;
        width: 100%;
        padding: 10px 0px;
        
    }
    main .section3 div.near div.elements{
        flex-direction: column;
    }
    main .section3 div.near div.elements a{
        width: 100%;
    }
    main .section7 div.left div.buttons{
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px auto;
        justify-content: center;
    }
    main .section7 div.left div.buttons a{
        padding: 12px 120px;
    }
        main .section8 {
        flex-direction: column;
        height: 500px;
    }
    .section8 div.icons header div.logos{
    flex-direction: column;
    gap: 20px;
    }
    .section8 div.icons header div.logos a{
        width: 100%;
    }
    main .section8 div.img{

        width: 100%;
    }
    .section8 {
        height: 300px;
    }
}